/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --main-title-color: #fff;
  --secondary-title-color: #212121;
  --main-text-color: #212121;
  --secondery-text-color: #757575;
  --accent-color: #2196f3;
  --main-backround-color: #2f303a;
  --secondary-bacground-color: #2196f3;
  --third-bacground-color: #f5f4fa;
  --main-basic-white: #fff;
  --border-color: #ececec;
  --icon-colors: #afb1b8;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--main-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------HEADER-------------------- */
.link {
  text-decoration: none;
}
.link:visited {
  color: var(--main-text-color);
}
.list {
  list-style: none;
}
.first-block {
  border-bottom: 1px solid var(--border-color);
}
.header-nav {
  margin-left: 93px;
}
.first-block .container {
  display: flex;
  align-items: center;
}
.nav-list .link {
  padding: 32px 0px;
}
.email-phone .link {
  padding: 32px 0px;
}
.websudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  padding: 24px 0px;
}
.websudio:visited {
  color: var(--main-text-color);
}
.bluestudio {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-element-blue {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-element-blue:hover,
.nav-element-blue:focus {
  color: var(--accent-color);
}
.nav-element-blue.current {
  color: var(--accent-color);
}
.nav-element-blue::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 0;
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-element-blue:hover::after {
  transform: scaleX(1);
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 0;
  border-radius: 2px;

  transform: scale(1);
}

/* EMAIL AND PHONE NUMBER */
.email-phone {
  display: flex;
  margin-left: auto;
}
.email-phone .item + .item {
  margin-left: 50px;
}
.email,
.phone-number {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}
/* ------------------HERO-------------------- */
.main-first-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-background-min.png);
  text-align: center;
  padding: 200px 0px;
  max-width: 1600px;
  margin: 0 auto;
}
.title-text {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* .main-button {
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--secondary-bacground-color);
  color: var(--main-title-color);
  min-width: 200px;
} */

.main-button {
  text-decoration: none;
  display: inline-block;

  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--secondary-bacground-color);
  color: var(--main-title-color);
  min-width: 200px;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 250ms;
}
.main-button:hover {
  background: var(--third-bacground-color);
  box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
  color: var(--accent-color);
  transform: translateY(-7px);
}
.button {
  border-radius: 4px;
}
/* ------------------FEATURES-------------------- */
.features-section {
  padding: 94px 0;
}
.features {
  display: flex;
}
.features .item {
  width: calc((100% - 90px) / 4);
}
.features .item + .item {
  margin-left: 30px;
  /* width: 270px; */
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  margin-top: 10px;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

/* ------------------WORK-------------------- */
.work {
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-image {
  display: block;
}
.work-list .item {
  position: relative;
}
.features-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.work-image-thumb {
  position: absolute;
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}
.work-image-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-basic-white);
}

/* ------------------TEAM-------------------- */
.team {
  background-color: var(--third-bacground-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
}
.team-item {
  background-color: var(--main-basic-white);
  /* width: 270px; */
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-images {
  display: block;
}
.card-box {
  padding: 30px 0px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
  margin-top: 10px;
}
.social-list-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon .social-item + .social-item {
  margin-left: 10px;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-colors);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #fff;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/* ------------------НАШИ КЛИЕНТЫ-------------- */
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
}
.clients-item {
  width: 170px;
  height: 92px;

  text-align: center;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-colors);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-colors);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}
/* ------------------FOOTER-------------------- */
.footer {
  background-color: var(--main-backround-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-conatiner {
  display: flex;
  align-items: baseline;
}
.second-footer-container {
  margin-left: 70px;
}
.third-footer-container {
  margin-left: 93px;
}
.footer-label {
  margin-right: 100%;
}
.third-footer-container input {
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 384px;
  height: 50px;
  padding-left: 16px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third-footer-container input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.third-footer-container input:focus {
  border: 1px solid var(--accent-color);
}
.footer-websudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}
.footer-websudio:visited {
  color: var(--accent-color);
}
.footer-studio {
  color: var(--main-basic-white);
}
.footer-sudio:visited {
  color: var(--main-basic-white);
}

.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.address-item + .address-item {
  margin-top: 9px;
}
.address-link {
  color: var(--main-basic-white);
}
.address-link:visited {
  color: var(--main-basic-white);
}
.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}
.footer-phone-number:hover,
.footer-phone-number:focus {
  color: var(--accent-color);
}
.footer-email,
.footer-phone-number {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-basic-white);
}
.footer-social-list-icon {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon .footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-basic-white);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #fff;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-button {
  font-family: inherit;
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--secondary-bacground-color);
  color: var(--main-title-color);
  min-width: 200px;
  margin-left: 12px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover {
  box-shadow: 0 15px 20px rgba(117, 117, 117, 0.7);
  transform: translateY(-7px);
}
.footer-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #fff;
}
/* ------------------!!!!PORTFOLIO!!!!-------------------- */
/* ------------------NAV BUTTON-------------------- */

.portfolio-section {
  padding: 94px 0px;
}
.nav-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.p-button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  background-color: var(--third-bacground-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.p-nav-item + .p-nav-item {
  margin-left: 8px;
}
.p-button.current-button {
  color: var(--main-basic-white);
  background-color: var(--accent-color);
}
.current-button {
  color: var(--accent-color);
}

.p-button:hover,
.p-button:focus {
  color: var(--main-basic-white);
  background-color: var(--secondary-bacground-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------------------WORKS SECTION-------------------- */
.p-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.p-works-item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.p-works-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.p-works-link:focus,
.p-works-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-text {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.p-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.p-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}
.p-works-thumb {
  position: relative;
  overflow: hidden;
}
/* .p-works-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  display: block;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);

  opacity: 1;
} */
.works-img {
  display: block;
}
.p-works-image-text {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  display: block;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 0.9);

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
}

.p-works-link:focus .p-works-image-text,
.p-works-link:hover .p-works-image-text {
  transform: translateY(0);
  color: #ffffff;
}

/* -------------------BACKDROP------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;

  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-input {
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-input-icon {
  position: absolute;
  top: calc(50% + 10px);
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.label-text {
  font-size: 12px;
  line-height: 1.17;

  transform: translateY(-50%);
  letter-spacing: 0.01em;
}
.modal-list {
  margin-top: 12px;
  margin-bottom: 20px;
}
.modal-item {
  position: relative;
}
.modal-item + .modal-item {
  margin-top: 10px;
}
.modal-checkbox-thumb {
  position: relative;
}
.modal-checkbox-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  border: solid 2px var(--main-text-color);
  border-radius: 4px;
  margin-left: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-label {
  position: relative;
  text-align: right;
  margin-right: 10px;
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.modal-checkbox {
  /* visibility: hidden; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-checkbox:checked + .modal-checkbox-icon {
  border: var(--accent-color);
  background-color: var(--accent-color);
}
.modal-checkbox:focus + .modal-checkbox-icon {
  border: 1px solid var(--accent-color);
}
/* background-origin: border-box;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
.modal-svg-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}
.textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal .button:hover {
  box-shadow: 0px 10px 30px rgba(33, 150, 243, 0.8);
}
.close-button {
  position: absolute;
  cursor: pointer;

  right: 8px;
  top: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}

.modal-checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
